include _mixins
block header

    header#header.header

        .container

            .header__top

                .header__logo
                    a(href="/")
                        img(src="assets/images/logo.svg", alt="logo")

                .header__mob-menu
                    i.far.fa-bars