include _mixins
block header

    header#header.header

        .header__top

            .container

                .header__top-inner

                    .header__logo
                        img(src="assets/images/logo.png", alt="logo")

                    .header__cities Москва

                    .header__phone
                        a(href="tel:+7 495 777 0000") +7 495 777 0000

                    .header__search
                        form
                            input(type="text" placeholder="Поиск")
                            button(type="submit")
                                i.far.fa-magnifying-glass

                    .header__action
                        a.header-button.header-button-profile(href="javascript:void(0);")
                            i.fal.fa-user
                        a.header-button.header-button-cart(href="#" data-stock="1")
                            i.fal.fa-cart-shopping
                        a.header-button.header-button-favorite(href="#" data-stock="1")
                            +sprite('heart')

                    .header__burger
                        i.fal.fa-bars

                    // Попап "Добавлено в корзину"
                    .header-popup.animate__animated.animate__fadeIn.hide
                        .header-popup-close
                        .cart-popup-added
                            .cart-popup__img
                                img(src="assets/images/popup-cart.png", alt="img")
                            .cart-popup__block
                                .cart-popup__label Добавлено в корзину
                                .cart-popup__info Диван современный красного цвета

        .header__nav

            .container

                .header__menu

                    .header__menu-mobile
                        .close-menu
                            i.fal.fa-xmark

                        .mobile-header__cities Москва

                        a.mobile-menu__link(href="tel:+7 495 777 0000")
                            i.fal.fa-phone
                            span +7 495 777 0000
                        a.mobile-menu__link(href="#")
                            i.fal.fa-user
                            span Войти в личный кабинет
                        a.mobile-menu__link.mobile-menu-favorite(href="#")
                            +sprite('heart')
                            span Избранное

                    nav.navbar
                        .navbar__link
                            .navbar__link-submenu
                                a(href="#") Каталог мебели
                                .nav-toggle
                            .nav__submenu.animate__animated.animate__fadeIn.animate__faster
                                a.nav__submenu-link(href="#")
                                    +sprite('divany')
                                    span Диваны
                                a.nav__submenu-link(href="#")
                                    +sprite('komody')
                                    span Комоды
                                a.nav__submenu-link(href="#")
                                    +sprite('stellazhi')
                                    span Стеллажи
                                a.nav__submenu-link(href="#")
                                    +sprite('stoly')
                                    span Столы
                                a.nav__submenu-link(href="#")
                                    +sprite('krovaty')
                                    span Кровати

                        .navbar__link
                            .navbar__link-submenu.animate__animated.animate__fadeIn.animate__faster
                                a(href="#") Готовые решения
                                .nav-toggle
                            .nav__submenu
                                a.nav__submenu-link(href="#") Комоды
                                a.nav__submenu-link(href="#") Столы
                                a.nav__submenu-link(href="#") Кровати

                        .navbar__link
                            a(href="#") О нас

                        .navbar__link
                            a(href="#") Новости

                        .navbar__link
                            a(href="#") Доставка

                        .navbar__link
                            a(href="#") Оплата

                        .navbar__link
                            a(href="#") Контакты

                        .navbar__link
                            a(href="#") Сам себе дизайнер


                    .header-search__mobile
                        form
                            input(type="text" placeholder="Поиск")
                            button.button-style.button-style--orange(type="submit") Поиск