html {
    scroll-behavior: smooth;
  }

body {
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.overflow-hidden {
    overflow: hidden;
}

body b {
    font-weight: 700;
    color: #000;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;

    @include breakpoint(lg) {
        width: 2px;
        height: 10px;
    }
}

::-webkit-scrollbar-thumb {
    background: $blue;
}

::-webkit-scrollbar-track {
    background: #f7f7f7;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

main {
    min-height: calc(max(calc(100vh - 614px), 650px));

    @include breakpoint(md) {
        min-height: calc(max(calc(100vh - 614px), 570px));
    }
}

.hide {
    display: none!important;
}

#page {
    position: relative;
    min-width: 320px;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

#page::before {

    @include breakpoint(md) {
        content: '';
    }
}

#page.bg-overlay::before {

    @include breakpoint(md) {
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.5s ease;
    }
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    max-width: 1280px;
    box-sizing: border-box;

    @include breakpoint(md) {
        padding: 0 30px;
    }

    @include breakpoint(lg) {
        padding: 0 40px;
    }
}

h2 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #000;

    @include breakpoint(md) {
        font-size: 30px;
        line-height: 35px;
    }

    @include breakpoint(lg) {
        margin-bottom: 40px;
        font-size: 35px;
        line-height: 41px;
    }

    @include breakpoint(xl) {
        margin-bottom: 50px;
    }
}

input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    box-sizing: content-box;
}

textarea {
    background: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    box-sizing: content-box;
}

button {
    position: relative;
}

.button-style {
    padding: 10px 22px;
    display: inline-block;
    font-weight: 600;
    line-height: 19px;
    color: #fff;
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;

    @include breakpoint(lg) {
        padding: 15px 60px;
    }
}

.button-style--blue {
    background: $blue;
}

.button-style--blue:hover {
    background: $ltblue;
}

.button-style--blue:active {
    background: #1B4362;
}

.button-style--orange {
    background: $orange;
}

.button-style--orange:hover {
    background: $ltorange;
}

.button-style--orange:active {
    background: #D78802;
}

.button-style--transparent {
    color: $blue;
    border: 1px solid $blue;
}

.button-style--transparent:hover {
    color: $ltblue;
    border-color: $ltblue;
}

.button-style--transparent:active {
    border-color: #1E4C70;
}

.input-style {
    position: relative;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
}

.input-label {
    position: absolute;
    font-size: 12px;
    color: black;
    z-index: -1;
    user-select: none;

    @include breakpoint(md) {
        font-size: 14px;
    }
}

.input-label::before {
    content: "*";
    color: black;
}

.input-style-checkbox {
    user-select: none;
}

.input-style-checkbox input {
    display: none;
}

.input-style-checkbox label {
    color: $gray3;
    cursor: pointer;
    transition: all .3s ease;
}

.input-style-checkbox label:hover {
    color: $gray2;
}

.input-style-checkbox label::before {
    content: '';
    margin-right: 14px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid $gray3;
    transform: translateY(1.5px);
    transition: all .3s ease;
}

.input-style-checkbox label:hover::before {
    border-color: $gray2;
}

.input-style-checkbox input:checked + label::before {
    background: $orange;
    border: none;
}

.input-checkbox-circle {
    position: relative;
}

.input-checkbox-circle .checkbox-bg {
    background: #D9D9D9;
    position: relative;
    width: 36px;
    height: 20px;
    border-radius: 34px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.input-checkbox-circle .checkbox-bg::after {
    content: '';
    background: #FFFFFF;
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: all 0.5s ease;
    z-index: 1;
}

.input-checkbox-circle input[type="checkbox"]:checked + .checkbox-bg {
    background: #45B04A;
}

.input-checkbox-circle input[type="checkbox"]:checked + .checkbox-bg::after {
    left: 18px;
}

.input-checkbox-circle input {
    position: absolute;
    width: 0;
    height: 0;
}

.pass-view {
    cursor: pointer;
}

.pass-view::after {
    content: "\f070";
    position: absolute;
    top: 12px;
    right: 18px;
    display: block;
    font-family: $icon;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    transition: all 0.5s ease;
}

.pass-view:hover::after {
    color: #707070;
}

.pass-view.show::after {
    content: "\f06e";
}

.link-style {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}

.link-style span {
    position: relative;
}

.link-style span::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    display: inline-block;
    width: 100%;
    height: 1px;
    opacity: 0.2;
}

.link-style span::after {
    content: '\f178';
    margin-left: 20px;
    font-family: $icon;
    font-weight: 400;
    font-size: 14px;
    transition: all .5s ease;
}

.link-style--white {
    color: #fff;
}

.link-style--white span::before {
    background: #FFFFFF;
}

.link-style--orange {
    color: $orange;
}

.link-style--orange:hover {
    color: $ltorange;
}

.link-style--orange span::before {
    background: $orange;
}

.link-style--orange:hover span::before {
    background: $ltorange;
}

.slider-pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    @include breakpoint(xl) {
        margin: 0;
        position: absolute;
        top: calc(50% - 35px);
        left: -75px;
        justify-content: space-between;
        width: calc(100% + 150px);
    }
}

.slider-pagination button {
    background: none;
    font-size: 35px;
    line-height: 35px;
    color: $blue;
    transition: all .3s ease;
}

.slider-pagination button:hover {
    color: $ltblue;
}

.slider-pagination button ~ button {
    margin-left: 30px;

    @include breakpoint(xl) {
        margin: 0;
    }
}

.slider-pagination .swiper-button-disabled {
    opacity: 0.5;
}

.cat-tab {
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid $gray5;

    @include breakpoint(md) {
        margin-bottom: 30px;
        padding-bottom: 20px;
    }

    @include breakpoint(lg) {
        margin-bottom: 40px;
    }
}

.cat-tab .swiper-wrapper {

    @include breakpoint(md) {
        margin-left: -50px;
        flex-wrap: wrap;
        align-items: baseline;
    }

    @include breakpoint(lg) {
        margin-left: -70px;
    }

    @include breakpoint(xl) {
        margin-left: 0;
    }
}

.cat-tab .swiper-slide {
    width: auto;

    @include breakpoint(md) {
        margin-left: 50px;
    }

    @include breakpoint(lg) {
        margin-left: 70px;
    }
}

.cat-tab .swiper-slide:first-child {

    @include breakpoint(xl) {
        margin-left: 0;
    }
}

.cat-tab .swiper-slide ~ .swiper-slide {

    @include breakpointMax(md) {
        margin-left: 25px;
    }
}

.cat-tab-item {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $gray3;
    cursor: pointer;
    user-select: none;
}

.cat-tab .swiper-slide:first-child .cat-tab-item {

    @include breakpoint(md) {
        margin-bottom: 20px;
    }

    @include breakpoint(xl) {
        margin-bottom: 0;
    }
}

.cat-tab .swiper-slide:last-child .cat-tab-item {

    @include breakpoint(md) {
        margin-top: 20px;
    }

    @include breakpoint(xl) {
        margin-top: 0;
    }
}

.cat-tab .swiper-slide:first-child .cat-tab-item::before {

    @include breakpoint(md) {
        content: '';
        background: $gray5;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        height: 1px;
    }
}

.cat-tab-item.active {
    color: $orange;
}

.cat-tab-icon {
    margin-right: 12px;
    width: 28px;
    height: 28px;
}

.cat-tab-icon svg {
    width: 100%;
    height: 18px;
    fill: none;
}

.cat-tab-item.active .cat-tab-icon svg {
    filter: invert(55%) sepia(89%) saturate(927%) hue-rotate(1deg) brightness(105%) contrast(99%);
}

.cat-link {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    max-width: 180px;
}

.cat {
    position: relative;
}