.card-item {
    background: #F2F0F0;
    position: relative;
}

.card-sticker-proposal,
.card-sticker-water-rep,
.card-sticker-claws-rep,
.card-favorite,
.card-favorite-added {
    position: absolute;
}

.card-sticker-proposal {
    padding: 6px 9px;
    top: 0;
    left: 0;
    font-family: 'rawline', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #fff;

    @include breakpoint(md) {
        padding: 6px 11px;
    }
}

.card-sticker-water-rep {
    background: #6590C3;
    top: 40px;
    left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    border-radius: 40px;

    @include breakpoint(xl) {
        top: 48px;
    }
}

.card-sticker-claws-rep {
    background: #FF6060;
    top: 90px;
    left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    border-radius: 40px;

    @include breakpoint(xl) {
        top: 98px;
    }
}

.card-favorite,
.card-favorite-added {
    top: 20px;
    right: 20px;
    width: 35px;
    height: 30px;
    transition: all 0.5s ease;
}

.card-favorite:hover,
.card-favorite-added:hover {
    opacity: 0.5;
}

.card-favorite svg,
.card-favorite-added svg {
    width: 100%;
    height: 100%;
}

.card-image {
    padding: 60px 30px;
    height: calc((100vw - 40px) / 1.3);
    box-sizing: border-box;

    @include breakpoint(md) {
        padding: 70px 60px;
        height: calc((50vw - 40px) / 1.317);
    }

    @include breakpoint(lg) {
        padding: 66px 41px 45px;
        height: calc(((100vw / 3) - 45px) / 1.317);
    }

    @include breakpoint(xl) {
        padding: 120px 80px 50px;
        height: 284px;
    }
}

.card-info {
    padding: 20px;

    @include breakpoint(xl) {
        padding: 30px;
    }
}

.card-text {
    margin-top: 4px;
    color: $gray3;
}

.card-desc {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(md) {
        margin-top: 16px;
    }
}

.card-desc-item p:first-child {
    font-size: 13px;
    color: $gray3;
}

.card-desc-item p:last-child {
    font-weight: 600;
    font-size: 13px;
}

.card-desc i {
    font-size: 14px;
    line-height: 14px;
    color: $gray3;
}

.card-bottom {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.card-price-current {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.card-price-old {
    margin-top: 4px;
    font-size: 14px;
    line-height: 16px;
    color: $gray3;
    text-decoration: line-through;
}

.card-btn {
    padding: 10px;
    background: $orange;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    border-radius: 5px;
    transition: all .3s ease;
}

.card-btn:hover {
    background: $ltorange;
}

.card-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 20px;
    color: #000;
}

.card-quantity button {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.card-quantity-minus span {
    background: #000;
    display: inline-block;
    width: 11px;
    height: 1px;
}

.card-quantity-plus {
    justify-content: flex-end;
}

.card-quantity-plus span {
    background: #000;
    display: inline-block;
    width: 11px;
    height: 1px;
}

.card-quantity-plus span::before {
    content: '';
    background: #000;
    position: absolute;
    top: 4px;
    right: 5px;
    display: inline-block;
    width: 1px;
    height: 11px;
}

.card-quantity input {
    width: 20px;
    height: 20px;
    font-family: 'rawline', sans-serif;
    text-align: center;
    overflow: hidden;
    cursor: default;
    box-sizing: border-box;
}