.pagination {
    display: flex;
    justify-content: center;
    font-family: 'rawline', sans-serif;
}

.pagination-item {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.pagination-item.disabled {
    color: $gray3;
}

.pagination-item.active {
    color: $orange;
}

.pagination-item ~ .pagination-item {
    margin-left: 30px;
}

.pagination-arrow {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}