.hero__inner {
    padding-top: 18px;
}

.hero__list {
    padding: 20px 0 28px;
}

.hero__list-item i {
    margin-right: 10px;
    color: $red;
}

.hero__button {
    padding: 20px 102.5px;
}

.hero-slider__image {
    margin-top: 25px;
    padding-bottom: 40px;
}

.hero-slider-pagination {
    bottom: 0!important;
}

.hero-slider-pagination span {
    position: relative;
    background: $red!important;
    width: 10px!important;
    height: 10px!important;
    opacity: 1!important;
}

.hero-slider-pagination span.swiper-pagination-bullet-active::after {
    content: '';
    background: $red;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    opacity: 0.2;
    border-radius: 50%;
}