.main-page section {
    padding-bottom: 60px;

    @include breakpoint(lg) {
        padding-bottom: 80px;
    }

    @include breakpoint(xl) {
        padding-bottom: 100px;
    }
}

.main-page section:last-child {
    padding-bottom: 0;
}

.selection {

    @include breakpoint(md) {
        display: flex;
    }
}

.selection__block {
    padding: 0 20px 38px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vw / 1.032);
    overflow: hidden;

    @include breakpoint(md) {
        padding: 0 30px 38px;
        width: 50%;
        height: calc(50vw / 1.2);
    }

    @include breakpoint(lg) {
        padding: 0 40px 58px;
        height: calc(50vw * 1.033);
    }

    @include breakpoint(xl) {
        padding: 0 50px 58px;
        height: 529px;
    }
}

.selection__bg {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.selection__block:hover .selection__bg  {
    transform: scale(1.1);
}

.selection__bg::before {
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.5s ease;
}

.selection__block:hover .selection__bg::before {
    opacity: 0;
}

.selection__label {
    margin-top: auto;
    position: relative;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #fff;
}

.selection__link {
    margin-top: 12px;

    @include breakpoint(lg) {
        margin-top: 18px;
    }
}

.solutions {
    position: relative;
}

.solutions__image {
    height: calc((100vw - 40px) / 1.564);

    @include breakpoint(md) {
        height: calc((50vw - 40px) / 1.32);
    }

    @include breakpoint(lg) {
        height: calc((50vw - 55px) / 1.82);
    }

    @include breakpoint(xl) {
        height: 321px;
    }
}

.solutions__info {
    margin: 20px 0 8px;

    @include breakpoint(lg) {
        margin: 20px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.solutions__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}

.solutions__slide {
    padding-bottom: 4px;
}

.solutions__link {
    font-weight: 600;
    font-size: 16px;
    color: $orange;
}

.section-catalog .cat-link {

    @include breakpoint(md) {
        position: absolute;
        bottom: 12px;
    }

    @include breakpoint(xl) {
        margin-top: 30px;
        margin-left: 0;
        position: static;
    }
}

.sale-banner {
    padding: 30px 20px;
    position: relative;
    height: 562px;
    font-family: 'rawline', sans-serif;
    background: $blue;
    overflow: hidden;

    @include breakpoint(md) {
        padding: 66px 40px;
        height: 100%;
    }

    @include breakpoint(lg) {
        padding: 86px 63px;
    }

    @include breakpoint(xl) {
        padding: 93px 65px;
    }
}

.sale-banner-wrap {
    position: relative;
    z-index: 1;

    @include breakpoint(md) {
        max-width: 312px;
    }

    @include breakpoint(lg) {
        max-width: 515px;
    }
}

.sale-banner h4 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #fff;

    @include breakpoint(md) {
        font-size: 30px;
        line-height: 35px;
    }
}

.sale-banner p {
    margin-top: 12px;
    color: #fff;

    @include breakpoint(md) {
        margin-top: 24px;
    }

    @include breakpoint(lg) {
        max-width: 326px;
    }

    @include breakpoint(xl) {
        max-width: 100%;
    }
}

.sale-banner-link {
    margin-top: 20px;

    @include breakpoint(md) {
        margin-top: 40px;
    }

    @include breakpoint(xl) {
        margin-top: 50px;
    }
}

.sale-banner-bg {
    background: url('../images/banner-bg-320.png') no-repeat;
    background-position-x: right;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 458px;

    @include breakpoint(md) {
        background: url('../images/banner-bg-744.png') no-repeat;
        background-position-x: right;
        height: 100%;
    }

    @include breakpoint(lg) {
        background: url('../images/banner-bg-1024.png') no-repeat;
        background-position-x: right;
    }

    @include breakpoint(xl) {
        background: url('../images/banner-bg-1200.png') no-repeat;
        background-position-x: right;
    }
}

// .sale-banner-svg {
//     position: absolute;
//     top: -5px;
//     right: -12px;
//     width: calc(100% + 40px);
//     height: 100%;
// }

// .sale-banner-bg img {
//     position: absolute;
//     top: 0;
//     right: -55px;
//     width: 320px;
//     height: 100%;
//     object-fit: cover;
//     clip-path: url(#myClip);
//     z-index: 9;
// }