.product {
    margin-top: 30px;

    @include breakpoint(md) {
        margin-top: 40px;
    }

    @include breakpoint(lg) {
        display: flex;
    }

    @include breakpoint(xl) {
        margin-top: 50px;
        justify-content: space-between;
    }
}

.product__wrap {

    @include breakpoint(md) {
        display: flex;
    }
}

.product__image {
    background: #F2F0F0;
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100vw - 40px);

    @include breakpoint(md) {
        width: 580px;
        height: 580px;
    }

    @include breakpoint(lg) {
        width: 457px;
        height: 457px;
    }

    @include breakpoint(xl) {
        width: 580px;
        height: 580px;
    }
}

.product__img {
    padding: 86px 38px;
}

.product__img img {
    object-fit: contain;
}

.product__item .slider-pagination {
    margin-top: 20px;

    @include breakpoint(md) {
        margin-top: 25px;
    }

    @include breakpoint(xl) {
        position: static;
        justify-content: center;
        width: 100%;
    }
}

.product__item .slider-pagination button ~ button {
    margin-left: 20px;
}

.product__slider-pagination {
    display: none;

    @include breakpoint(md) {
        margin-left: 40px;
        display: block;
        width: calc((100% / 12) * 1.5);
    }

    @include breakpoint(lg) {
        margin-left: 18px;
    }

    @include breakpoint(xl) {
        margin-left: 40px;
    }
}

.product__slider-pagination .swiper {

    @include breakpoint(md) {
        width: 100%;
        height: 578px;
    }

    @include breakpoint(lg) {
        height: 458px;
    }
}

.product__slider-pagination .swiper-slide {

    @include breakpoint(md) {
        height: auto;
    }
}

.product__slider-pagination .swiper-slide ~ .swiper-slide {

    @include breakpoint(md) {
        margin-top: 36px;
    }

    @include breakpoint(lg) {
        margin-top: 28px;
    }
}

.product__block {

    @include breakpoint(md) {
        padding: 1px;
        position: relative;
        width: 66px;
        height: 66px;
        box-sizing: border-box;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    @include breakpoint(lg) {
        width: 53px;
        height: 53px;
    }

    @include breakpoint(xl) {
        width: 65px;
        height: 65px;
    }
}

.swiper-slide-thumb-active .product__block::before {

    @include breakpoint(md) {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 66px;
        height: 66px;
        border: 1px solid #FDA003;
    }

    @include breakpoint(lg) {
        width: 53px;
        height: 53px;
    }

    @include breakpoint(xl) {
        width: 65px;
        height: 65px;
    }
}

.product__block img {

    @include breakpoint(md) {
        object-fit: contain;
    }
}

.swiper-slide-thumb-active .product__block {

    @include breakpoint(md) {
        padding: 10px;
    }
}

.product__desc {
    margin-top: 30px;

    @include breakpoint(md) {
        margin-top: 45px;
    }

    @include breakpoint(lg) {
        margin-top: 0;
        margin-left: 40px;
    }

    @include breakpoint(xl) {
        margin-left: 0;
        max-width: 370px;
    }
}

.product__desc h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    @include breakpoint(md) {
        font-size: 30px;
        line-height: 35px;
    }
}

.product__price {
    margin-top: 20px;
    font-family: 'rawline', 'sans-serif';

    @include breakpoint(md) {
        display: flex;
        align-items: center;
    }
}

.product__price .current-price {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}

.product__price .old-price {
    color: $gray3;
    text-decoration: line-through;

    @include breakpoint(md) {
        margin-left: 8px;
    }
}

.product__desc-text {
    margin-top: 20px;

    @include breakpoint(md) {
        margin-top: 14px;
        max-width: 508px;
    }
}

.product__info {
    margin-top: 20px;
    font-family: 'rawline', sans-serif;
}

.product__info .info-row {
    margin-bottom: 12px;
    position: relative;
    display: flex;
    align-items: center;
}

.product__info .info-row:last-child {
    margin-top: 28px;
}

.info-row-item {
    position: relative;
}

.product__info .info-row-item:first-child {
    margin-right: 8px;
    font-weight: 600;
    line-height: 19px;
    color: $gray3;
}

.item-info i {
    background: $blue;
    position: absolute;
    top: -10px;
    right: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-family: $fa5;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    border-radius: 16px;
    cursor: pointer;
}

.item-info-description {
    padding: 20px 20px 32px;
    background: #F2F0F0;
    position: absolute;
    left: -50px;
    bottom: 40px;
    display: none;
    width: 254px;
    font-size: 14px;
    overflow: hidden;

    @include breakpoint(md) {
        background: url('../images/info.svg') no-repeat;
        left: 28px;
    }
}

.item-info i:hover + .item-info-description {
    display: block;
}

.level-info {
    position: relative;
}

.level-value {
    position: absolute;
    top: -22px;
    font-size: 17px;
    line-height: 17px;
    color: $orange;
}

.level-info[data-level="0"] .level-value {
    left: -7px;
}

.level-info[data-level="1"] .level-value {
    left: 16px;
}

.level-info[data-level="2"] .level-value {
    left: 41px;
}

.level-info[data-level="3"] .level-value {
    left: 64px;
}

.level-info svg {
    fill: #000;
}

.level-info[data-level="0"] .level-0 {
    fill: $orange;
}

.level-info[data-level="1"] .level-1 {
    fill: $orange;
}

.level-info[data-level="2"] .level-2 {
    fill: $orange;
}

.level-info[data-level="3"] .level-3 {
    fill: $orange;
}

.level-info + .item-info i {
    top: -28px;
    right: -28px;
}

.level-info + .item-info .item-info-description {
    left: -130px;
    bottom: 60px;

    @include breakpoint(md) {
        left: 75px;
    }
}

.product__colors {
    margin-top: 35px;
    display: flex;

    @include breakpoint(md) {
        margin-top: 45px;
    }
}

.color-item {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
}

.color-item.active::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 50px;
}

.color-item ~ .color-item {
    margin-left: 20px;
}

.product__action {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;

    @include breakpoint(md) {
        margin-top: 30px;
        max-width: 508px;
    }

    @include breakpoint(lg) {
        max-width: 375px;
    }
}

.product__action .card-quantity {
    display: flex;
    min-width: 90px;
    max-width: 90px;
}

.product__action button {
    background: none;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    justify-content: center;
}

.product__action .card-quantity-minus span {
    width: 15px;
}

.product__action .card-quantity-plus span {
    width: 15px;
}

.product__action .card-quantity-plus span::before {
    top: 6px;
    right: 11px;
    height: 14px;
}

.product__action input {
    font-size: 20px;
}

.product__action .card-favorite {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.product__action .card-favorite svg {
    width: 36px;
    height: 33px;
}

.product__action .card-favorite p {
    margin-left: 15px;
    font-weight: 600;
    color: $orange;
}

.product__buttons {
    margin-top: 20px;

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
        max-width: 508px;
    }

    @include breakpoint(lg) {
        max-width: 375px;
    }

    @include breakpoint(xl) {
        margin-top: 24px;
    }
}

.product__buttons button {
    margin-top: 10px;
    padding: 15px 40px;
    width: 100%;
    max-width: 300px;
    font-family: 'rawline', sans-serif;

    @include breakpoint(md) {
        max-width: unset;
    }

    @include breakpoint(lg) {
        margin-top: 0;
        padding: 15px 38px;
    }
}

.product__buttons button:first-child {
    margin-right: 20px;

    @include breakpoint(lg) {
        margin-right: 15px;
        max-width: 159px;
    }
}

.product__buttons button:last-child {

    @include breakpoint(lg) {
        max-width: 199px;
    }
}

.product__inner {
    margin-top: 50px;

    @include breakpoint(md) {
        margin-top: 60px;
    }

    @include breakpoint(lg) {
        margin-top: 80px;
    }
}

.tabs {
    padding-bottom: 20px;
    border-bottom: 1px solid $gray5;
}

.tabs-slide .swiper-slide {
    width: auto;
}

.tabs-slide .swiper-slide ~ .swiper-slide {
    margin-left: 25px;

    @include breakpoint(md) {
        margin-left: 50px;
    }

    @include breakpoint(lg) {
        margin-left: 70px;
    }
}

.tabs-label {
    font-family: 'rawline', sans-serif;
    font-weight: 600;
    line-height: 19px;
    color: $gray3;
    user-select: none;
    cursor: pointer;
}

.tabs-label.active {
    color: $orange;
}

.tabs-content {
    margin-top: 30px;

    @include breakpoint(md) {
        margin-top: 60px;
    }

    @include breakpoint(lg) {
        margin-top: 50px;
    }

    @include breakpoint(xl) {
        margin-top: 70px;
    }
}

.tabs-content section ~ section {
    margin-top: 60px;

    @include breakpoint(lg) {
        margin-top: 80px;
    }

    @include breakpoint(xl) {
        margin-top: 100px;
    }
}

.tabs-content h3 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;

    @include breakpoint(lg) {
        margin-bottom: 40px;
        font-size: 35px;
        line-height: 41px;
    }

    @include breakpoint(xl) {
        margin-bottom: 50px;
    }
}

.interior__slider {
    position: relative;
}

.interior__image {
    padding: 12px 40px;
    background: #F2F0F0;
    height: calc((100vw - 40px) / 1.8);
    box-sizing: border-box;
    overflow: hidden;

    @include breakpoint(md) {
        padding: 14px 47px;
        height: calc((50vw - 40px) / 1.814);
    }

    @include breakpoint(lg) {
        padding: 19px 65px;
        height: calc((50vw - 55px) / 1.8);
    }

    @include breakpoint(xl) {
        padding: 24px 83px;
        height: 321px;
    }
}

.interior__image img {
    object-fit: contain;
}

.interior__title {
    margin-top: 20px;
    font-family: 'rawline', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    @include breakpoint(md) {
        font-size: 25px;
        line-height: 29px;
    }
}

.section-interior .slider-pagination {
    margin-top: 20px;

    @include breakpoint(md) {
        margin-top: 25px;
    }

    @include breakpoint(xl) {
        margin-top: 0;
    }
}

.section-interior .slider-button-next {
    margin-left: 20px;
}

.char__inner {

    @include breakpoint(lg) {
        max-width: 620px;
    }

    @include breakpoint(xl) {
        max-width: 580px;
    }
}

.char__row {
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'rawline', sans-serif;
    border-bottom: 1px solid $gray5;
}

.char__row p:first-child {
    font-weight: 600;
    color: $gray3;
}

.reviews__header {

    @include breakpoint(lg) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.sort-select {
    position: relative;
    max-width: 240px;
    cursor: pointer;

    @include breakpoint(md) {
        max-width: 100%;
    }

    @include breakpoint(lg) {
        width: 100%;
        max-width: 270px;
    }
}

.sort-select .selected-option {
    font-weight: 400;
    border-bottom: 1px solid $gray5;

    @include breakpoint(xl) {
        display: flex;
    }
}

.sort-select-list {
    background: #fff;
    position: absolute;
    display: none;
    width: 100%;
    z-index: 2;

    @include breakpoint(md) {
        padding: 0 10px;
        background: #fff;
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        width: calc(100% + 10px);
        z-index: 1;
    }
}

.sort-select .select-option {
    padding: 10px 15px;
}

.sort-select .select-option:first-child {
    padding-top: 20px;
}

.sort-select .select-option:last-child {
    padding-bottom: 20px;
}

.sort-select .select-option.selected {

    @include breakpoint(xl) {
        font-weight: 400;
    }
}

.sort-select .select-option ~ .select-option {

    @include breakpoint(xl) {
        margin: 0;
    }
}

.reviews__action {
    margin-top: 30px;

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include breakpoint(lg) {
        margin-top: 0;
    }
}

.reviews__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 240px;
    font-family: 'rawline', sans-serif;
}

.rating-stars {
    font-size: 20px;
    color: $orange;

    @include breakpoint(lg) {
        display: flex;
        align-items: center;
    }
}

.rating-stars i ~ i {
    margin-left: 10px;
}

.rating-stars i.fad::after {
    opacity: 1;
}

.rating-value {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;

    @include breakpoint(md) {
        margin-left: 20px;
    }
}

.reviews__action .button-style {
    margin-top: 24px;
    padding: 15px 40px;
    width: 100%;
    max-width: 300px;

    @include breakpoint(md) {
        margin-top: 0;
        max-width: 203px;
    }

    @include breakpoint(lg) {
        margin-left: 60px;
    }
}

.reviews__body {

    @include breakpoint(lg) {
        margin-top: 40px;
    }
}

.review__block {
    margin-top: 20px;
    padding: 30px 20px;
    background: #F2F0F0;

    @include breakpoint(md) {
        padding: 30px 40px;
    }

    @include breakpoint(lg) {
        margin-top: 30px;
    }

    @include breakpoint(xl) {
        margin-top: 40px;
        padding: 50px 60px;
    }
}

.review__top {
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint(md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.reviews__label {

    @include breakpoint(md) {
        display: flex;
        align-items: center;
    }
}

.reviews__name {
    margin-top: 20px;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;

    @include breakpoint(md) {
        margin-top: 0;
    }
}

.reviews__date {
    margin-top: 5px;
    font-family: 'rawline', sans-serif;
    color: $gray2;

    @include breakpoint(md) {
        margin-top: 0;
        margin-left: 18px;
    }
}

.review__text {
    margin-top: 12px;

    @include breakpoint(md) {
        margin-top: 20px;
    }

    @include breakpoint(lg) {
        margin-top: 30px;
    }

    @include breakpoint(xl) {
        max-width: 832px;
    }
}

.review__reply {
    margin-top: 20px;
    padding-bottom: 7px;
    max-width: 72px;
    font-weight: 600;
    color: $orange;
    border-bottom: 1px solid rgba(253, 160, 3, 0.2);;
    cursor: pointer;

    @include breakpoint(xl) {
        margin-top: 30px;
    }
}