.footer {
    margin-top: 60px;
    padding: 30px 0;
    background: $blue;
    position: relative;
    color: #fff;

    @include breakpoint(md) {
        margin-top: calc((100vw / 8.2666) + 60px);
        padding: 40px 0 35px;
    }

    @include breakpoint(lg) {
        margin-top: calc((100vw / 8.2666) + 80px);
        padding: 56px 0 26px;
    }

    @include breakpoint(xl) {
        margin-top: calc((100vw / 8.42) + 100px);
        padding: 65px 0 42px;
    }
}

.footer::before {

    @include breakpoint(md) {
        content: '';
        background: url('../images/footer.png') no-repeat;
        background-size: cover;
        position: absolute;
        bottom: calc(100% - 2px);
        display: block;
        width: 100%;
        height: calc(100vw / 8.2666);
    }

    @include breakpoint(xl) {
        height: calc(100vw / 8.42);
    }
}

.footer__main {

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.footer__logo {
    width: 132px;
    height: 42px;

    @include breakpoint(md) {
        width: 25%;
    }

    @include breakpoint(lg) {
        width: 20%;
    }
}

.footer__logo-img {

    @include breakpoint(md) {
        max-width: 132px;
    }
}

.footer__cat {

    @include breakpointMax(md) {
        margin-top: 50px;
    }

    @include breakpoint(md) {
        width: 25%;
    }

    @include breakpoint(md) {
        width: 20%;
    }
}

.footer__cat-item {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.footer__cat-item svg {
    margin-right: 10px;
    padding: 3px;
    width: 28px;
    height: 28px;
    fill: none;
    filter: brightness(0) invert(1);
}

.footer__cat-link {
    font-weight: 600;
}

.footer__menu {

    @include breakpointMax(md) {
        margin-top: 46px;
    }

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    @include breakpoint(lg) {
        width: 40%;
    }

    @include breakpoint(xl) {
        justify-content: center;
    }
}

.footer__menu-cat {

    @include breakpoint(md) {
        width: 50%;
    }

    @include breakpoint(xl) {
        width: auto;
    }
}

.footer__menu-link {
    margin-bottom: 20px;
    line-height: 19px;
}

.footer__menu-main {

    @include breakpoint(md) {
        width: 50%;
    }

    @include breakpoint(xl) {
        margin-left: 50px;
    }
}

.footer__contacts {

    @include breakpointMax(md) {
        margin-top: 46px;
    }

    @include breakpoint(md) {
        margin-left: 25%;
    }

    @include breakpoint(lg) {
        margin-left: 0;
        width: 20%;
    }
}

.footer__contacts a {

    @include breakpoint(lg) {
        margin-left: 30%;
    }

    @include breakpoint(xl) {
        margin-left: 0;
    }
}

.footer__phone {
    font-family: 'rawline', sans-serif;
    font-weight: 700;
    line-height: 19px;
}

.footer__mail {
    margin-top: 20px;
    line-height: 19px;
    letter-spacing: 0.025em;
}

.footer__bottom {

    @include breakpoint(md) {
        margin-top: 54px;
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.footer__copyright {
    line-height: 19px;
    color: #AFBFCC;

    @include breakpointMax(md) {
        margin-top: 46px;
    }
}

.footer__copyright p {
    margin-top: 8px;

    @include breakpoint(lg) {
        margin-top: 15px;
    }
}

.footer__dev {

    @include breakpointMax(md) {
        margin-top: 46px;
    }
}

.footer__dev a {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.footer__dev span {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}