header.header-fixed {
    background: #fff;
    position: fixed;
    top: -72px;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.5s ease;

    @include breakpoint(md) {
        top: -100px;
    }

    @include breakpoint(xl) {
        top: -161px;
    }
}

header.header-fixed + main {
    margin-top: 72px;

    @include breakpoint(md) {
        margin-top: 100px;
    }

    @include breakpoint(xl) {
        margin-top: 161px;
    }
}

header.header-backscroll {
    top: 0px;
}

.header__top {
    padding: 20px 0;
    background: $blue;
    color: #fff;

    @include breakpoint(md) {
        padding: 33px 0;
    }
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 100px;
}

.header__cities {
    display: none;

    @include breakpoint(md) {
        margin-left: 44px;
        display: block;
        font-size: 17px;
        line-height: 20px;
    }

    @include breakpoint(lg) {
        margin-left: 25px;
    }

    @include breakpoint(xl) {
        margin-left: 36px;
    }
}

.header__cities {
    width: 85px;
    cursor: pointer;
}

.header__cities::after {
    content: '\f078';
    display: inline-block;
    font-family: $icon;
    font-size: 10px;
    transform: translate(12px, -2px);
}

.header__phone {
    display: none;

    @include breakpoint(md) {
        margin-left: 18px;
        display: block;
        font-family: 'rawline', sans-serif;
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
    }
}

.header__search {
    display: none;

    @include breakpoint(lg) {
        margin: 0 75px;
        display: block;
        max-width: 174px;
    }

    @include breakpoint(xl) {
        margin-left: auto;
        margin-right: 130px;
    }
}

.header__search form {
    position: relative;
    display: flex;
}

.header__search input {
    padding-bottom: 7px;
    background: none;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.header__search input::placeholder {
    font-style: italic;
    font-size: 14px;
    color: #fff;
}

.header__search button {
    background: none;
    position: absolute;
    right: 0;
    color: #fff;
}

.header__action {
    margin-left: auto;

    @include breakpoint(md) {
        margin-right: 24px;
        display: flex;
        align-items: center;
    }

    @include breakpoint(xl) {
        margin-left: 0;
        margin-right: 0;
    }
}

.header-button {
    position: relative;
    font-size: 28px;
    line-height: 1;
}

.header-button[data-stock]::after {
    content: attr(data-stock);
    position: absolute;
    top: -5px;
    right: -13px;
    background: $orange;
    width: 15px;
    height: 15px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000;
    text-align: center;
    border-radius: 50%;
}

.header-button-profile {
    display: none;

    @include breakpoint(md) {
        display: block;
    }
}

.header-button-cart {

    @include breakpoint(md) {
        margin: 0 40px;
    }
}

.header-button-favorite {
    display: none;

    @include breakpoint(md) {
        display: block;
        transform: translateY(2px);
    }
}

.header-button-favorite svg {
    width: 20px;
    height: 20px;

    @include breakpoint(md) {
        width: 34px;
        height: 29px;
    }
}

.header__burger {
    margin-left: 36px;
    font-size: 28px;
    line-height: 1;
    cursor: pointer;

    @include breakpoint(xl) {
        display: none;
    }
}

.header-popup {
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    color: #000;
    z-index: 9;

    @include breakpoint(md) {
        top: calc(100% + 33px);
        width: 373px;
    }
}

.header-popup-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.header-popup-close::after {
    content: '\f00d';
    font-family: $icon;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #0C2A42;
    text-transform: uppercase;
}

.cart-popup-added {
    background: #fff;
    display: flex;
}

.cart-popup__img {
    min-width: 98px;
    min-height: 98px;
    max-width: 98px;
    max-height: 98px;
}

.cart-popup__block {
    padding: 15px 15px 10px;
}

.cart-popup__label {
    font-weight: 600;
}

.cart-popup__info {
    margin-top: 6px;
    max-width: 212px;
    font-size: 14px;
    @include textLimit(2);

    @include breakpoint(md) {
        font-size: 16px;
    }
}

.header__nav {

    @include breakpointMax(xl) {
        background: $blue;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        color: #fff;
        transition: all 0.3s ease;
        overflow-y: scroll;
        z-index: 9;
    }
}

.header__nav.mobile-menu {
    right: 0;
}

.header__menu {
    padding: 22px 0 42px;

    @include breakpoint(xl) {
        padding: 0;
    }
}

.header__menu-mobile {

    @include breakpoint(xl) {
        display: none;
    }
}

.close-menu {
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 28px;
    line-height: 1;
    cursor: pointer;
}

.mobile-header__cities {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    cursor: pointer;
}

.mobile-header__cities::after {
    content: '\f078';
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-family: $icon;
    font-size: 10px;
    color: #fff;
    transform: translate(12px, -2px);
}

.mobile-menu__link  {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-family: 'rawline', sans-serif;
    font-weight: 400;
}

.mobile-menu__link span {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

.mobile-menu__link i {
    margin-right: 12px;
    width: 20px;
    font-size: 20px;
    line-height: 1;
}

.mobile-menu__link svg {
    margin-right: 12px;
    width: 20px;
    height: 20px;
}

.mobile-menu-favorite {
    margin-bottom: 40px;
}

.mobile-menu-favorite span {
    font-weight: 400;
}

.navbar {

    @include breakpoint(xl) {
        display: flex;
    }
}

.navbar__link {
    margin-bottom: 20px;
    position: relative;
    font-size: 18px;
    line-height: 21px;

    @include breakpoint(xl) {
        margin-left: 40px;
        margin-bottom: 0;
        padding: 20px 0;
        position: relative;
    }
}

.navbar__link:first-child {

    @include breakpoint(xl) {
        margin-left: 0;
    }
}

.navbar__link:nth-child(1) .navbar__link-submenu a::before,
.navbar__link:nth-child(2) .navbar__link-submenu a::before {
    content: '';
    margin-right: 11px;
    background: url('../images/lines.svg') no-repeat;
    background-size: cover;
    display: inline-block;
    width: 13px;
    height: 11px;
}

.navbar__link:nth-child(2) {
    margin-bottom: 40px;

    @include breakpoint(xl) {
        margin-right: 33px;
        margin-bottom: 0;
    }
}

.navbar__link:last-child {
    margin-top: 40px;

    @include breakpoint(xl) {
        margin-top: 0;
        margin-left: auto;
    }
}

.navbar__link-submenu {
    display: flex;
    align-items: center;
}

.navbar__link-submenu .nav-toggle {
    margin-left: 10px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;

    @include breakpoint(xl) {
        display: none;
    }
}

.navbar__link-submenu .nav-toggle::after {
    content: '\f078';
    font-family: $icon;
}

.navbar__link-submenu.active .nav-toggle::after {
    display: inline-block;
    transform: rotate(180deg);
}

.nav__submenu {
    padding-left: 24px;
    display: none;

    @include breakpoint(xl) {
        background: #fff;
        padding: 0 22px 25px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 214px;
        box-shadow: 0px 10px 69px rgba(29, 30, 45, 0.16);
        z-index: 1;
    }
}

.navbar__link:hover .nav__submenu {

    @include breakpoint(xl) {
        display: block;
    }
}

.nav__submenu-link {
    margin-top: 20px;

    @include breakpoint(xl) {
        display: flex;
        align-items: center;
    }
}

.nav__submenu-link svg {
    display: none;

    @include breakpoint(xl) {
        margin-right: 10px;
        padding: 4px;
        display: block;
        width: 28px;
        height: 29px;
        fill: none;
    }
}

.header-search__mobile {
    margin-top: 40px;

    @include breakpoint(xl) {
        display: none;
    }
}

.header-search__mobile form {
    display: flex;
    justify-content: space-between;
}

.header-search__mobile input {
    padding-bottom: 7px;
    margin-right: 16px;
    background: none;
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.header-search__mobile input::placeholder {
    font-style: italic;
    font-size: 14px;
    color: #fff;
}
