---
title: Klyuch 585 | Главная
---

extends includes/_page

block main

    .hero

        .container

            .hero__inner

                .hero-slider.swiper

                    .swiper-wrapper

                        .swiper-slide
                            .hero__slide
                                h1 Дом из двойного бруса

                                .hero__list
                                    .hero__list-item
                                        i.fal.fa-house-chimney-user
                                        span Дома для ПМЖ
                                    .hero__list-item
                                        i.fal.fa-arrows-rotate
                                        span Практично
                                    .hero__list-item
                                        i.fal.fa-sun-bright
                                        span Тепло

                                a.hero__button.button-style.button-style--red(href="#") Каталог

                                .hero-slider__image
                                    img(src="assets/images/image-11.jpg", alt="img")

                        .swiper-slide
                            .hero__slide
                                h1 Дом из двойного бруса

                                .hero__list
                                    .hero__list-item
                                        i.fal.fa-house-chimney-user
                                        span Дома для ПМЖ
                                    .hero__list-item
                                        i.fal.fa-arrows-rotate
                                        span Практично
                                    .hero__list-item
                                        i.fal.fa-sun-bright
                                        span Тепло

                                a.hero__button.button-style.button-style--red(href="#") Каталог

                                .hero-slider__image
                                    img(src="assets/images/image-11.jpg", alt="img")

                    .hero-slider-pagination.swiper-pagination

                    .hero-slider-buttons
                        .swiper-button-prev
                        .swiper-button-next