---
title: Klyuch 585 | Главная
---

extends includes/_page

block main

    .hero

        .container

            .hero__inner

                .hero-slider.swiper

                    .swiper-wrapper

                        .swiper-slide
                            .hero__slide
                                h1.main-title Дом из двойного бруса

                                .hero__list
                                    .hero__list-item
                                        i.fal.fa-house-chimney-user
                                        span Дома для ПМЖ
                                    .hero__list-item
                                        i.fal.fa-arrows-rotate
                                        span Практично
                                    .hero__list-item
                                        i.fal.fa-sun-bright
                                        span Тепло

                                a.hero__button.button-style.button-style--red(href="#") Каталог

                                .hero-slider__image
                                    img(src="assets/images/image-11.jpg", alt="img")

                        .swiper-slide
                            .hero__slide
                                h2.main-title Дом из двойного бруса

                                .hero__list
                                    .hero__list-item
                                        i.fal.fa-house-chimney-user
                                        span Дома для ПМЖ
                                    .hero__list-item
                                        i.fal.fa-arrows-rotate
                                        span Практично
                                    .hero__list-item
                                        i.fal.fa-sun-bright
                                        span Тепло

                                a.hero__button.button-style.button-style--red(href="#") Каталог

                                .hero-slider__image
                                    img(src="assets/images/image-11.jpg", alt="img")

                        .swiper-slide
                            .hero__slide
                                h2.main-title Дом из двойного бруса

                                .hero__list
                                    .hero__list-item
                                        i.fal.fa-house-chimney-user
                                        span Дома для ПМЖ
                                    .hero__list-item
                                        i.fal.fa-arrows-rotate
                                        span Практично
                                    .hero__list-item
                                        i.fal.fa-sun-bright
                                        span Тепло

                                a.hero__button.button-style.button-style--red(href="#") Каталог

                                .hero-slider__image
                                    img(src="assets/images/image-11.jpg", alt="img")

                    .hero-slider-pagination.swiper-pagination

                    .hero-slider-buttons
                        .swiper-button-prev
                        .swiper-button-next

    .catalog-home.catalog

        .container

            h2.s-title Строим дома, в&nbsp;которых хочется жить

            .catalog__inner

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/image-11.jpg", alt="img")
                        p.catalog__item-title Коттеджи
                        p.catalog__item-price от 1 680 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-2.jpg", alt="img")
                        p.catalog__item-title Небольшие дома
                        p.catalog__item-price от 2 349 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-3.jpg", alt="img")
                        p.catalog__item-title Дачные и садовые
                        p.catalog__item-price от 179 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-4.jpg", alt="img")
                        p.catalog__item-title Бани
                        p.catalog__item-price от 1 102 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-5.jpg", alt="img")
                        p.catalog__item-title Барнхаусы
                        p.catalog__item-price от 1 958 000 ₽

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-6.jpg", alt="img")
                        p.catalog__item-title Модульные дома
                        p.catalog__item-price от 179 000 ₽

            a.catalog__button.button-style.button-style--red(href="#") Посмотреть каталог

    .s-catalog.catalog

        .container

            h2.s-title Домокомплекты для самостоятелной сборки

            .catalog__inner

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-7.jpg", alt="img")
                        p.catalog__item-title из клееного бруса
                        p.catalog__item-price от 48 000 ₽/м³

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-8.jpg", alt="img")
                        p.catalog__item-title из двойного бруса
                        p.catalog__item-price от 46 000 ₽/м³

                .catalog__item
                    a(href="#")
                        .catalog__item-image
                            img(src="assets/images/img-9.jpg", alt="img")
                        p.catalog__item-title из сухого профилированного бруса
                        p.catalog__item-price от 31 000 ₽/м³

    .achievements

        .container

            .achievements__inner

                .ach__block

                    h2.s-title Ключ 585 – надежный партнер

                    .ach__desc
                        p.ach__desc-text Более 24 лет мы производим и строим надежные и практичные дома, любимые сотнями семей по всей России
                        .ach__desc-chrono
                            div
                                p.ach__desc-chrono-numb 1998
                                p.ach__desc-chrono-text год основания

                            div
                                p.ach__desc-chrono-numb 1500+
                                p.ach__desc-chrono-text домов построили

                            div
                                p.ach__desc-chrono-numb 75+
                                p.ach__desc-chrono-text человек в команде

                .ach__video
                    .video-play
                        i.fad.fa-play
                    img(src="assets/images/video.jpg", alt="")

    .offers

        .container

            .offers__inner

                .offers__block

                    p.offers__subtitle Жить хорошо. Хорошо жить еще лучше!
                    p.offers__title Купите загородный дом вашей мечты уже сейчас

                    .offers__accreditation
                        p Мы аккредитованы в банках и&nbsp;даем лучшие  условия на строительство дома
                        .accreditation-wrap
                            .accreditation-icon
                                img(src="assets/images/sber-ico.png", alt="icon")
                            .accreditation-icon
                                img(src="assets/images/vector-ico.png", alt="icon")
                            .accreditation-icon
                                img(src="assets/images/pochta-ico.png", alt="icon")

                .offers__tiles

                    .offers-bg
                        img(src="assets/images/offers-bg.svg", alt="bg")

                    .offers__tile
                        .offers__tile-icon
                            i.far.fa-building-columns

                        .offers__tile-main
                            p Ипотека
                            a(href="#") Перейти

                    .offers__tile
                        .offers__tile-icon
                            i.far.fa-badge-percent

                        .offers__tile-main
                            p Льготы и акции
                            a(href="#") Перейти

                    .offers__tile
                        .offers__tile-icon
                            i.far.fa-family

                        .offers__tile-main
                            p Материнский капитал
                            a(href="#") Перейти

                    .offers__tile
                        .offers__tile-icon
                            i.fas.fa-shield-halved

                        .offers__tile-main
                            p Страхование
                            a(href="#") Перейти

    .accompaniment

        .container

            h2.s-title Сопровождаем на каждом шаге

            .accomp__inner

                .accomp__item
                    h4 01
                    p Помощь в  выборе дома
                .accomp__item
                    h4 02
                    p Ипотека и кредитование
                .accomp__item
                    h4 03
                    p Проектирование и производство
                .accomp__item
                    h4 04
                    p Стройка и коммуникации
                .accomp__item
                    h4 05
                    p Поддержка после строительства
                .accomp__item
                    h4 06
                    p Гарантия 10 лет

    .construction

        .container

            h2.s-title “Под ключ”&nbsp;- значит Ключ 585

            .construction__inner

                .construction__item
                    .construction__item-icon
                        i.fal.fa-house
                    .construction__item-title Построим дом
                    .construction__item-list
                        p Индивидуальная разработка проекта
                        p Кровельные работы
                        p Задел фундамента
                        p Реконструкция и ремонт

                .construction__item
                    .construction__item-icon
                        include includes/_mixins
                        +sprite('construction')
                    .construction__item-title Проведем коммуникации
                    .construction__item-list
                        p Электричество
                        p Водоснабжение
                        p Задел фундамента
                        p Реконструкцияи ремонт

                .construction__item
                    .construction__item-icon
                        include includes/_mixins
                        +sprite('roller')
                    .construction__item-title Выполним отделочные работы
                    .construction__item-list
                        p Обшивка
                        p Утепление
                        p Покраска

                .construction__item
                    .construction__item-icon
                        i.far.fa-house-tree
                    .construction__item-title Поможем после строительства
                    .construction__item-list
                        p Дизайн интервьеров и ландшафта
                        p Малые формы