---
title: Setto | Диван в современном стиле
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('', 'Каталог мебели', 'Диваны', 'Диван в современном стиле')
    // Breadcrumbs::End

    .product-page

        .container

            .product

                .product__item

                    .product__wrap

                        .product__gallery

                            .product__image
                                span.card-sticker-proposal(style="background-color: #E9462F") -50%
                                span.card-sticker-water-rep
                                    i.far.fa-droplet
                                span.card-sticker-claws-rep
                                    i.far.fa-paw-claws

                                .product__slider.swiper

                                    .product__container.swiper-wrapper

                                        .swiper-slide
                                            .product__img
                                                img(src="assets/images/divan.png", alt="img")

                                        .swiper-slide
                                            .product__img
                                                img(src="assets/images/divan.png", alt="img")

                                        .swiper-slide
                                            .product__img
                                                img(src="assets/images/divan.png", alt="img")

                                        .swiper-slide
                                            .product__img
                                                img(src="assets/images/divan.png", alt="img")

                                        .swiper-slide
                                            .product__img
                                                img(src="assets/images/divan.png", alt="img")

                                        .swiper-slide
                                            .product__img
                                                img(src="assets/images/divan.png", alt="img")

                                        .swiper-slide
                                            .product__img
                                                img(src="assets/images/divan.png", alt="img")

                                        .swiper-slide
                                            .product__img
                                                img(src="assets/images/divan.png", alt="img")

                            .slider-pagination
                                button.slider-button-prev
                                    i.fat.fa-circle-arrow-left
                                button.slider-button-next
                                    i.fat.fa-circle-arrow-right


                        .product__slider-pagination

                            .swiper

                                .product__container.swiper-wrapper

                                    .swiper-slide
                                        .product__block
                                            img(src="assets/images/Rectangle-157.jpg", alt="img")

                                    .swiper-slide
                                        .product__block
                                            img(src="assets/images/Rectangle-158.jpg", alt="img")

                                    .swiper-slide
                                        .product__block
                                            img(src="assets/images/Rectangle-159.jpg", alt="img")

                                    .swiper-slide
                                        .product__block
                                            img(src="assets/images/Rectangle-160.jpg", alt="img")

                                    .swiper-slide
                                        .product__block
                                            img(src="assets/images/Rectangle-161.jpg", alt="img")

                                    .swiper-slide
                                        .product__block
                                            img(src="assets/images/Rectangle-162.jpg", alt="img")

                                    .swiper-slide
                                        .product__block
                                            img(src="assets/images/Rectangle-159.jpg", alt="img")

                                    .swiper-slide
                                        .product__block
                                            img(src="assets/images/Rectangle-160.jpg", alt="img")

                .product__desc

                    h4 Диван в современном стиле

                    .product__price
                        .current-price 10 000 000 ₽
                        .old-price 20 000 000 ₽

                    .product__desc-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui ullamcorper viverra tortor, lectus Dui ullamcorper viverra tortor, lectus ...

                    .product__info
                        .info-row
                            .info-row-item Цвет:
                            .info-row-item Красный
                        .info-row
                            .info-row-item Размер:
                            .info-row-item 120х80х56
                        .info-row
                            .info-row-item Обивка:
                            .info-row-item Бархат
                        .info-row
                            .info-row-item Материал:
                            .info-row-item МДФ
                                .item-info
                                    i.fas.fa-question
                                    .item-info-description Листовой материал, изготавливаемый методом сухого прессования мелкой древесной стружки
                        .info-row
                            .info-row-item Механизм:
                            .info-row-item Дельфин
                        .info-row
                            .info-row-item Сложность сборки:
                            // 4 уровня сложности (0-3), значение записываем в data-level
                            .info-row-item
                                .level-info(data-level="1")
                                    .level-value
                                        i.fal.fa-screwdriver-wrench
                                    svg(width="74" height="15" viewBox="0 0 74 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect.level-3.level-2.level-1.level-0(width="2" height="15")
                                        rect.level-3.level-2.level-1(x="6" y="7" width="2" height="8")
                                        rect.level-3.level-2.level-1(x="12" y="7" width="2" height="8")
                                        rect.level-3.level-2.level-1(x="18" y="7" width="2" height="8")
                                        rect.level-3.level-2.level-1(x="24" width="2" height="15")
                                        rect.level-3.level-2(x="30" y="7" width="2" height="8")
                                        rect.level-3.level-2(x="36" y="7" width="2" height="8")
                                        rect.level-3.level-2(x="42" y="7" width="2" height="8")
                                        rect.level-3.level-2(x="48" width="2" height="15")
                                        rect.level-3(x="54" y="7" width="2" height="8")
                                        rect.level-3(x="60" y="7" width="2" height="8")
                                        rect.level-3(x="66" y="7" width="2" height="8")
                                        rect.level-3(x="72" width="2" height="15")
                                .item-info
                                    i.fas.fa-question
                                    .item-info-description Листовой материал, изготавливаемый методом сухого прессования мелкой древесной стружки

                    .product__colors
                        .color-item.active(style="background-color: #8A353B")
                        .color-item(style="background-color: #F2CC93")
                        .color-item(style="background-color: #D9D9D9")
                        .color-item(style="background-color: #0C2A42")
                        .color-item(style="background-color: #000000")

                    .product__action
                        .card-quantity
                            button.card-quantity-minus
                                span
                            input(type="number" value="1" readonly)
                            button.card-quantity-plus
                                span
                        a.card-favorite(href="#")
                            +sprite('heart-orange-stroke')
                            p Отложить

                    .product__buttons
                        button.button-style.button-style--orange В корзину
                        button.button-style.button-style--blue Купить в 1 клик

            .product__inner

                .tabs

                    .tabs-slide.swiper

                        .swiper-wrapper

                            .swiper-slide
                                .tabs-label.active
                                    a(href="#interior") В интерьере

                            .swiper-slide
                                .tabs-label
                                    a(href="#description") Описание

                            .swiper-slide
                                .tabs-label
                                    a(href="#characteristics") Характеристики

                            .swiper-slide
                                .tabs-label
                                    a(href="#reviews") Отзывы (2)

                .tabs-content

                    // Section interior
                    section#interior.section-interior

                        h3 Этот диван в интерьере
                        .interior__slider

                            .swiper

                                .swiper-wrapper

                                    .swiper-slide
                                        .interior__block
                                            .interior__image
                                                img(src="assets/images/image-20.png", alt="img")
                                            .interior__title Комната 20 м2

                                    .swiper-slide
                                        .interior__block
                                            .interior__image
                                                img(src="assets/images/image-21.png", alt="img")
                                            .interior__title Комната 30 м2

                                    .swiper-slide
                                        .interior__block
                                            .interior__image
                                                img(src="assets/images/image-20.png", alt="img")
                                            .interior__title Комната 20 м2

                            .slider-pagination
                                button.slider-button-prev
                                    i.fat.fa-circle-arrow-left
                                button.slider-button-next
                                    i.fat.fa-circle-arrow-right

                    // Section description
                    section#description.section-description

                        h3 Описание
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper sit id sodales porttitor lorem. Massa semper amet, ullamcorper etiam mattis quam quis. Mollis risus, etiam nullam sed eget odio. Ut id senectus ullamcorper sagittis at congue neque. Odio eget ut natoque sed commodo enim. Sociis elit leo at mollis mauris phasellus felis faucibus. Diam euismod sagittis, pretium eget sit. Sem iaculis mauris, consectetur orci nisi vulputate vestibulum.
                          br
                          br
                          |Volutpat libero pellentesque tincidunt habitant et nisl arcu dui. Ipsum porttitor dui nibh faucibus viverra nulla. Arcu dolor vel nisl nibh vitae. Integer ut dui eu molestie adipiscing nunc pharetra vestibulum amet. Aliquam duis pharetra pellentesque diam pretium donec mi eu. Sit molestie sed velit sed. Ultricies cras fermentum posuere sociis. Lectus metus, et bibendum tristique cursus faucibus. Facilisis non urna fames risus, nisi urna, magna eleifend ornare. Bibendum nunc sit dolor aenean quis cursus ultricies tincidunt. Risus, quam proin aenean porttitor tincidunt gravida.

                    // Section characteristic
                    section#characteristics.section-characteristic

                        h3 Характеристики

                        .char__inner

                            .char__row
                                p Цвет:
                                p Красный

                            .char__row
                                p Размер:
                                p 120х80х56

                            .char__row
                                p Обивка:
                                p Бархат

                    // Section reviews
                    section#reviews.section-reviews

                        h3 Отзывы (2)

                        .reviews

                            .reviews__header

                                .sort-select
                                    p.selected-option Сначала позитивные
                                    .sort-select-list
                                        a.select-option.selected(href="javascript:void(0)") Сначала позитивные
                                        a.select-option(href="javascript:void(0)") Сначала негативные
                                        a.select-option(href="javascript:void(0)") Сначала старые
                                        a.select-option(href="javascript:void(0)") Сначала новые
                                        a.select-option(href="javascript:void(0)") Сначала полезные

                                .reviews__action

                                    .reviews__rating
                                        .rating-stars
                                            i.fad.fa-star
                                            i.fad.fa-star
                                            i.fad.fa-star
                                            i.fad.fa-star
                                            i.fal.fa-star

                                        .rating-value 4.0/5

                                    button.button-style.button-style--orange Оставить отзыв

                            .reviews__body

                                .review__block

                                    .review__top
                                        .reviews__label
                                            .reviews__name Александр
                                            .reviews__date 12 мая, 09:51

                                        .rating-stars
                                            i.fad.fa-star
                                            i.fad.fa-star
                                            i.fad.fa-star
                                            i.fad.fa-star
                                            i.fal.fa-star

                                    .review__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper sit id sodales porttitor lorem. Massa semper amet, ullamcorper etiam mattis quam quis. Mollis risus, etiam nullam sed eget odio. Ut id senectus ullamcorper sagittis at congue neque. Odio eget ut natoque sed commodo enim. Sociis elit leo at mollis mauris phasellus felis faucibus. Diam euismod sagittis, pretium eget sit. Sem iaculis mauris, consectetur orci nisi vulputate vestibulum.
                                    .review__reply Ответить

                                .review__block

                                    .review__top
                                        .reviews__label
                                            .reviews__name Александр
                                            .reviews__date 12 мая, 09:51

                                        .rating-stars
                                            i.fad.fa-star
                                            i.fad.fa-star
                                            i.fad.fa-star
                                            i.fad.fa-star
                                            i.fal.fa-star

                                    .review__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper sit id sodales porttitor lorem. Massa semper amet, ullamcorper etiam mattis quam quis. Mollis risus, etiam nullam sed eget odio. Ut id senectus ullamcorper sagittis at congue neque. Odio eget ut natoque sed commodo enim. Sociis elit leo at mollis mauris phasellus felis faucibus. Diam euismod sagittis, pretium eget sit. Sem iaculis mauris, consectetur orci nisi vulputate vestibulum.
                                    .review__reply Ответить

                    // Section recommend
                    section.section-recommend

                        h3 Рекомендуемые товары

                        .cat

                            .cat-slider.swiper

                                .swiper-wrapper

                                    .swiper-slide
                                        .card-item
                                            span.card-sticker-proposal(style="background-color: #E9462F") -50%
                                            span.card-sticker-water-rep
                                                i.far.fa-droplet
                                            span.card-sticker-claws-rep
                                                i.far.fa-paw-claws
                                            // Добавлено в избранное
                                            a.card-favorite(href="#")
                                                +sprite('heart-orange-fill')
                                            // Добавить в избранное
                                            a.card-favorite(href="#")
                                                +sprite('heart-orange-stroke')

                                            .card-image
                                                img(src="assets/images/divan.png", alt="img")

                                            .card-info
                                                p.card-label Диван в современном стиле
                                                p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit....

                                                .card-desc
                                                    .card-desc-item
                                                        p Ширина
                                                        p 1000 см
                                                    i.fal.fa-xmark
                                                    .card-desc-item
                                                        p Высота
                                                        p 1000 см
                                                    i.fal.fa-xmark
                                                    .card-desc-item
                                                        p Глубина
                                                        p 1000 см

                                                .card-bottom
                                                    .card-price
                                                        .card-price-current 10 000 000 ₽
                                                        .card-price-old 20 000 000 ₽

                                                    .card-shop.added
                                                        // Добавить в корзину
                                                        a.card-btn(href="#")
                                                            i.far.fa-cart-shopping

                                                        // Добавлено в корзину
                                                        .card-quantity
                                                            button.card-quantity-minus
                                                                span
                                                            input(type="number" value="1" readonly)
                                                            button.card-quantity-plus
                                                                span

                                    .swiper-slide
                                        .card-item
                                            span.card-sticker-proposal(style="background-color: #4DC188") New
                                            span.card-sticker-water-rep
                                                i.far.fa-droplet
                                            span.card-sticker-claws-rep
                                                i.far.fa-paw-claws
                                            a.card-favorite(href="#")
                                                +sprite('heart-orange-stroke')

                                            .card-image
                                                img(src="assets/images/divan.png", alt="img")

                                            .card-info
                                                p.card-label Диван в современном стиле
                                                p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit....

                                                .card-desc
                                                    .card-desc-item
                                                        p Ширина
                                                        p 1000 см
                                                    i.fal.fa-xmark
                                                    .card-desc-item
                                                        p Высота
                                                        p 1000 см
                                                    i.fal.fa-xmark
                                                    .card-desc-item
                                                        p Глубина
                                                        p 1000 см

                                                .card-bottom
                                                    .card-price
                                                        .card-price-current 10 000 000 ₽
                                                        .card-price-old 20 000 000 ₽

                                                    a.card-btn(href="#")
                                                        i.far.fa-cart-shopping

                                    .swiper-slide
                                        .card-item
                                            span.card-sticker-proposal(style="background-color: #3F80CC") 1+1=3
                                            span.card-sticker-water-rep
                                                i.far.fa-droplet
                                            span.card-sticker-claws-rep
                                                i.far.fa-paw-claws
                                            a.card-favorite(href="#")
                                                +sprite('heart-orange-stroke')

                                            .card-image
                                                img(src="assets/images/divan.png", alt="img")

                                            .card-info
                                                p.card-label Диван в современном стиле
                                                p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit....

                                                .card-desc
                                                    .card-desc-item
                                                        p Ширина
                                                        p 1000 см
                                                    i.fal.fa-xmark
                                                    .card-desc-item
                                                        p Высота
                                                        p 1000 см
                                                    i.fal.fa-xmark
                                                    .card-desc-item
                                                        p Глубина
                                                        p 1000 см

                                                .card-bottom
                                                    .card-price
                                                        .card-price-current 10 000 000 ₽
                                                        .card-price-old 20 000 000 ₽

                                                    a.card-btn(href="#")
                                                        i.far.fa-cart-shopping

                                    .swiper-slide
                                        .card-item
                                            span.card-sticker-proposal(style="background-color: #4DC188") New
                                            span.card-sticker-water-rep
                                                i.far.fa-droplet
                                            span.card-sticker-claws-rep
                                                i.far.fa-paw-claws
                                            a.card-favorite(href="#")
                                                +sprite('heart-orange-stroke')

                                            .card-image
                                                img(src="assets/images/divan.png", alt="img")

                                            .card-info
                                                p.card-label Диван в современном стиле
                                                p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit....

                                                .card-desc
                                                    .card-desc-item
                                                        p Ширина
                                                        p 1000 см
                                                    i.fal.fa-xmark
                                                    .card-desc-item
                                                        p Высота
                                                        p 1000 см
                                                    i.fal.fa-xmark
                                                    .card-desc-item
                                                        p Глубина
                                                        p 1000 см

                                                .card-bottom
                                                    .card-price
                                                        .card-price-current 10 000 000 ₽

                                                    a.card-btn(href="#")
                                                        i.far.fa-cart-shopping

                            .slider-pagination
                                button.slider-button-prev
                                    i.fat.fa-circle-arrow-left
                                button.slider-button-next
                                    i.fat.fa-circle-arrow-right